  <header class="navbar-fixed-top">
    <div class="skip-nav">
      <ul>
        <li><a href="#navigation">Aller au menu</a></li>
        <li><a href="#content" accesskey="s">Aller au contenu</a></li>
        <li><a href="#search" accesskey="4">Aller à la recherche</a></li>
      </ul>
    </div>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" id="navbar-btn">
            <span class="fa fa-bars"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="/assets/im/logo.png" alt=""></a>
        </div>
        <div class="navbar-lang">
          <div class="dropdown">
            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              FR
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li><a href="#">en</a></li>
              <li><a href="#">es</a></li>
            </ul>
          </div>
        </div>

      </div>
    </nav>
  </header>

  <div class="nav-aside-backdrop"></div>
  <nav class="nav-aside">
    <ul class="nav">
      <li class="btn-presentation active"><a href="#presentation" title="">Présentation</a></li>
      <li class="btn-concept"><a href="#concept" title="">Le concept</a></li>
      <li class="btn-immersion"><a href="#immersion" title="">Immersion</a></li>
      <li class="btn-assortment"><a href="#assortment" title="">Gamme</a></li>
      <li class="btn-options"><a href="#options" title="">Options</a></li>
      <li class="btn-accessory"><a href="#accessory" title="">Accessoires</a></li>
      <li class="btn-uses"><a href="#uses" title="">Usages</a></li>
      <li class="btn-why"><a href="#why" title="">Pourquoi Manitou</a></li>
    </ul>
  </nav>
  <nav class="nav-step">
    <ul class="nav">
      <li class="btn-presentation active"><a href="#presentation" title=""></a></li>
      <li class="btn-concept"><a href="#concept" title=""></a></li>
      <li class="btn-immersion"><a href="#immersion" title=""></a></li>
      <li class="btn-assortment"><a href="#assortment" title=""></a></li>
      <li class="btn-options"><a href="#options" title=""></a></li>
      <li class="btn-accessory"><a href="#accessory" title=""></a></li>
      <li class="btn-uses"><a href="#uses" title=""></a></li>
      <li class="btn-why"><a href="#why" title=""></a></li>
    </ul>
  </nav>
