<section id="options" class="options">
	<div id="carousel-options" class="options-container slide" data-ride="carousel" data-interval="false" data-keyboard="true">
		<article class="" role="listbox">
				<div id="options-1" class="block-img-lg block-img-left item active">
					<div class="img-container">
						<div class="img-filter"></div>
						<img src="/assets/im/option1.jpg" alt="">
					</div>
					<div class="content-container">
						<div class="content-filter">
							<div class="content">
								<h2>L’ECS</h2>
								<p>L’ECS (Easy Connect System) décompresse la ligne accessoires, moteur tournant, pour permettre le changement simple et rapide des accessoires hydrauliques. Cela vous permet un gain de temps et une réduction de la pénibilité lors du changement d’accessoires.</p>
							</div>
						</div>
					</div>
				</div>
				<div id="options-2" class="block-img-sm block-img-right item">
					<div class="img-container">
						<div class="img-filter"></div>
						<img src="/assets/im/option2.jpg" alt="">
					</div>
					<div class="content-container">
						<div class="content-filter">
							<div class="content">
								<h2>La suspension de flèche</h2>
								<p>La suspension de flèche a pour but d’amortir les mouvements et préserver les composants de la flèche.</p>
							</div>
						</div>
					</div>
				</div>
				<div id="options-3" class="block-img-sm block-img-right item">
					<div class="img-container">
						<div class="img-filter"></div>
						<img src="/assets/im/option3.jpg" alt="">
					</div>
					<div class="content-container">
						<div class="content-filter">
							<div class="content">
								<h2>La climatisation</h2>
								<p>La climatisation vous offre un confort de conduite dans toutes les conditions climatiques.</p>
							</div>
						</div>
					</div>
				</div>
				<div id="options-4" class="block-img-sm block-img-left item">
					<div class="img-container">
						<div class="img-filter"></div>
						<img src="/assets/im/option4.jpg" alt="">
					</div>
					<div class="content-container">
						<div class="content-filter">
							<div class="content">
								<h2>Le siège pneumatique </h2>
								<p>Le siège pneumatique pour plus de confort pour l’opérateur.</p>
							</div>
						</div>
					</div>
				</div>
				<div id="options-5" class="block-img-sm block-img-left item">
					<div class="img-container">
						<div class="img-filter"></div>
						<img src="/assets/im/option5.jpg" alt="">
					</div>
					<div class="content-container">
						<div class="content-filter">
							<div class="content">
								<h2>Le verrouillage hydraulique</h2>
								<p>Le verrouillage hydraulique du tablier vous permet de changer et de sécurisez l’accessoire sans descendre de la machine.</p>
							</div>
						</div>
					</div>
				</div>
				<div id="options-6" id="foo" class="block-img-lg block-img-right item">
					<div class="img-container">
						<div class="img-filter"></div>
						<img src="/assets/im/option6.jpg" alt="">
					</div>
					<div class="content-container">
						<div class="content-filter">
							<div class="content">
								<h2>Les pneus spécifiques</h2>
								<p>MANITOU vous propose plusieurs type de pneus selon l’utilisation de votre machine, de vos sols ou de vos besoins spécifiques.</p>
							</div>
						</div>
					</div>
				</div>
		</article>
		<ul class="carousel-indicators-mobile">
			<li data-target="#carousel-options" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-options" data-slide-to="1"></li>
			<li data-target="#carousel-options" data-slide-to="2"></li>
			<li data-target="#carousel-options" data-slide-to="3"></li>
			<li data-target="#carousel-options" data-slide-to="4"></li>
			<li data-target="#carousel-options" data-slide-to="5"></li>
		</ul>
	</div>
	<ul class="options-navbar footer">
		<li class="active btn-img-left" data-order="0">ECS</li>
		<li class="btn-img-left" data-order="3">Siège pneumatique </li>
		<li class="btn-img-left" data-order="4">Verrouillage hydraulique</li>
		<li class="btn-img-right" data-order="1">Suspension de flèche</li>
		<li class="btn-img-right" data-order="2">Climatisation</li>
		<li class="btn-img-right" data-order="5">Pneus spécifiques</li>
	</ul>
</section>
