<section id="assortment" class="assortment">	
	<article>
		<div class="row">
			<div class="col-md-8 col-md-offset-4 col-sm-7 col-sm-offset-5 col-xs-12 col-container">
				<div class="options-labels">
					<img src="{{path}}/im/MLT625_75H_001_d7.jpg" class="img-responsive">
					<h3>None</h3>
					<ul>
						<li>Transmission convertisseur</li>
						<li>Transmission hydraustatique</li>
						<li>Puissance</li>
						<li>Capacité max.</li>
						<li>Hauteur de levée max.</li>
						<li>Déport max.</li>
						<li>Dimensions (LxlxH)*</li>
						<li>Hydraulique</li>
						<li>Poids à vide avec fourches</li>
						<li>Vitesse</li>
					</ul>
					<p class="note">*sans accessoire</p>
				  </div>
			  	  <div class="slideshow">
			  		  <div class="item item-zero slick-active"></div>
					  <div class="item active-left">
							<img src="{{path}}/im/MLT625_75H_001_d7.jpg" class="img-product img-responsive">
							<h3>MLT-X 625</h3>
							<img src="{{path}}/im/abaque.png" alt="" class="abacus">
							<ul>
								<li>-</li>
								<li><i class="fa fa-check"></i></li>
								<li>75 cv (55.4 kW)</li>
								<li>2500 kg - ???? lb</li>
								<li>5.9 m - ???? ft</li>
								<li>3.3 m - ???? ft</li>
								<li>3.9x1.82x2 m - ???????? ft</li>
								<li>90 l/min</li>
								<li>4922 kg - ???? lb</li>
								<li>25 km/h - ?? mph</li>
							</ul>
							<div class="elipse-shadows">
								<img src="{{path}}/im/elipse-shadows.png" alt="">
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-abacus" data-toggle="modal" data-target="#modal-abacus-item1">
									<i class="fa fa-eye"></i>
									<span>Voir l'abaque de charge</span>
								</button>						
								<div class="dropdown">
								<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
									<i class="fa fa-caret-down pull-right"></i>
               						<i class="fa fa-download"></i>
									<span>Bochures</span>
								</button>
								<ul class="dropdown-menu" role="menu">
								  <li role="presentation" class="dropdown-header">English</li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-eye"></i>
									  <span>Prévisualiser</span>
									</a>
								  </li>
								  <li>
									<a href="#"> 
										<i class="fa fa-download"></i> 
										<span>Télécharger</span>
									</a>
								  </li>
								  <li role="presentation" class="divider"></li>
								  <li role="presentation" class="dropdown-header">English</li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-eye"></i>
									  <span>Prévisualiser</span>
									</a>
								  </li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-download"></i> 
									  <span>Télécharger</span>
									</a>
								  </li>
								</ul>
								</div>
							</div>
					  </div>
					  <div class="item active">
							<img src="{{path}}/im/MLTX627_001_d1.jpg" class="img-product img-responsive">
							<h3>MLT-X  627</h3>
							<img src="{{path}}/im/abaque.png" alt="" class="abacus">
							<ul>
								<li><i class="fa fa-check"></i></li>
								<li>-</li>
								<li>101 cv (74.5 kW)</li>
								<li>2700 kg - ???? lb</li>
								<li>5.55 m - ???? ft</li>
								<li>3.2 m - ????9 ft</li>
								<li>4.69x2x2.06 m - ???????? ft</li>
								<li>100 l/min</li>
								<li>5935 kg - ???? lb</li>
								<li>32 km/h - ?? mph</li>
							</ul>
							<div class="elipse-shadows">
								<img src="{{path}}/im/elipse-shadows.png" alt="">
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-abacus" data-toggle="modal" data-target="#modal-abacus-item2">
									<i class="fa fa-eye"></i>
									<span>Voir l'abaque de charge</span>
								</button>
								<div class="dropdown">
								<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
									<i class="fa fa-caret-down pull-right"></i>
               						<i class="fa fa-download"></i>
									<span>Bochures</span>
								</button>
								<ul class="dropdown-menu" role="menu">
								  <li role="presentation" class="dropdown-header">English</li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-eye"></i>
									  <span>Prévisualiser</span>
									</a>
								  </li>
								  <li>
									<a href="#"> 
										<i class="fa fa-download"></i> 
										<span>Télécharger</span>
									</a>
								  </li>
								  <li role="presentation" class="divider"></li>
								  <li role="presentation" class="dropdown-header">English</li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-eye"></i>
									  <span>Prévisualiser</span>
									</a>
								  </li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-download"></i> 
									  <span>Télécharger</span>
									</a>
								  </li>
								</ul>
								</div>
							</div>
					  </div>
					  <div class="item active-right">
							<img src="{{path}}/im/MLTX735_001_d1.jpg" class="img-product img-responsive">
							<h3>MLT-X 735</h3>
							<img src="{{path}}/im/abaque.png" alt="" class="abacus">
							<ul>
								<li><i class="fa fa-check"></i></li>
								<li>-</li>
								<li>101/124 cv (74.5/91 kW)</li>
								<li>3500 kg - ???? lb</li>
								<li>6.9 m - ???? ft</li>
								<li>3.9 m - ???? ft</li>
								<li>4.87x2.4x2.3 m - ???????? ft</li>
								<li>110/150 l/min</li>
								<li>7075/7100 kg - ???? lb</li>
								<li>35/40 km/h - ?? mph</li>
							</ul>
							<div class="elipse-shadows">
								<img src="{{path}}/im/elipse-shadows.png" alt="">
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-abacus"  data-toggle="modal" data-target="#modal-abacus-item3">
									<i class="fa fa-eye"></i>
									<span>Voir l'abaque de charge</span>
								</button>
								<div class="dropdown">
								<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
									<i class="fa fa-caret-down pull-right"></i>
               						<i class="fa fa-download"></i>
									<span>Bochures</span>
								</button>
								<ul class="dropdown-menu" role="menu">
								  <li role="presentation" class="dropdown-header">English</li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-eye"></i>
									  <span>Prévisualiser</span>
									</a>
								  </li>
								  <li>
									<a href="#"> 
										<i class="fa fa-download"></i> 
										<span>Télécharger</span>
									</a>
								  </li>
								  <li role="presentation" class="divider"></li>
								  <li role="presentation" class="dropdown-header">English</li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-eye"></i>
									  <span>Prévisualiser</span>
									</a>
								  </li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-download"></i> 
									  <span>Télécharger</span>
									</a>
								  </li>
								</ul>
								</div>
							</div>
					  </div>
					  <div class="item">
							<img src="{{path}}/im/MLT741_010_d1.jpg" class="img-product img-responsive">
							<h3>MLT-X 741</h3>
							<img src="{{path}}/im/abaque.png" alt="" class="abacus">
							<ul>
								<li><i class="fa fa-check"></i></li>
								<li>-</li>
								<li>122 cv</li>
								<li>4100 kg - ???? lb</li>
								<li>6.9 m - ???? ft</li>
								<li>3.9 m - ???? ft</li>
								<li>4.92x2.4x2.3 m - ???????? ft</li>
								<li>150 l/min</li>
								<li>7495 kg - ???? lb</li>
								<li>35/40 km/h - ?? mph</li>
							</ul>
							<div class="elipse-shadows">
								<img src="{{path}}/im/elipse-shadows.png" alt="">
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-abacus" data-toggle="modal" data-target="#modal-abacus-item4">
									<i class="fa fa-eye"></i>
									<span>Voir l'abaque de charge</span>
								</button>
								<div class="dropdown">
								<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
									<i class="fa fa-caret-down pull-right"></i>
               						<i class="fa fa-download"></i>
									<span>Bochures</span>
								</button>
								<ul class="dropdown-menu" role="menu">
								  <li role="presentation" class="dropdown-header">English</li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-eye"></i>
									  <span>Prévisualiser</span>
									</a>
								  </li>
								  <li>
									<a href="#"> 
										<i class="fa fa-download"></i> 
										<span>Télécharger</span>
									</a>
								  </li>
								  <li role="presentation" class="divider"></li>
								  <li role="presentation" class="dropdown-header">English</li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-eye"></i>
									  <span>Prévisualiser</span>
									</a>
								  </li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-download"></i> 
									  <span>Télécharger</span>
									</a>
								  </li>
								</ul>
								</div>
							</div>
					  </div>
					  <div class="item">
							<img src="{{path}}/im/MLT840_137PS_001_d1_1.jpg" class="img-product img-responsive">
							<h3>MLT-X 840</h3>
							<img src="{{path}}/im/abaque.png" alt="" class="abacus">
							<ul>
								<li><i class="fa fa-check"></i></li>
								<li>-</li>
								<li>137 cv (kW)</li>
								<li>4000 kg - ???? lb</li>
								<li>7.55 m - ???? ft</li>
								<li>4.45 m - ???? ft</li>
								<li>5.37x2.39x2.4 m - ???????? ft</li>
								<li>180 l/min</li>
								<li>8401 kg - ???? lb</li>
								<li>40 km/h - ?? mph</li>
							</ul>
							<div class="elipse-shadows">
								<img src="{{path}}/im/elipse-shadows.png" alt="">
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-abacus-item5">
									<i class="fa fa-eye"></i>
									<span>Voir l'abaque de charge</span>
								</button>
								<div class="dropdown">
								<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
									<i class="fa fa-caret-down pull-right"></i>
               						<i class="fa fa-download"></i>
									<span>Bochures</span>
								</button>
								<ul class="dropdown-menu" role="menu">
								  <li role="presentation" class="dropdown-header">English</li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-eye"></i>
									  <span>Prévisualiser</span>
									</a>
								  </li>
								  <li>
									<a href="#"> 
										<i class="fa fa-download"></i> 
										<span>Télécharger</span>
									</a>
								  </li>
								  <li role="presentation" class="divider"></li>
								  <li role="presentation" class="dropdown-header">English</li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-eye"></i>
									  <span>Prévisualiser</span>
									</a>
								  </li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-download"></i> 
									  <span>Télécharger</span>
									</a>
								  </li>
								</ul>
								</div>
							</div>
					  </div>
					  <div class="item">
							<img src="{{path}}/im/MLT1035_LTLSU_002_d1.jpg" class="img-product img-responsive">
							<h3>MLT-X 1035</h3>
							<img src="{{path}}/im/abaque.png" alt="" class="abacus">
							<ul>
								<li><i class="fa fa-check"></i></li>
								<li>-</li>
								<li>101 cv (kW)</li>
								<li>4000 kg - ???? lb</li>
								<li>9.6 m - ???? ft</li>
								<li>7.06 m - ???? ft</li>
								<li>5.09x2.4x2.3 m - ???????? ft</li>
								<li>110 l/min</li>
								<li>8375 kg - ???? lb</li>
								<li>35 km/h - ?? mph</li>
							</ul>
							<div class="elipse-shadows">
								<img src="{{path}}/im/elipse-shadows.png" alt="">
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-abacus-item6">
									<i class="fa fa-eye"></i>
									<span>Voir l'abaque de charge</span>
								</button>
								<div class="dropdown">
								<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
									<i class="fa fa-caret-down pull-right"></i>
               						<i class="fa fa-download"></i>
									<span>Bochures</span>
								</button>
								<ul class="dropdown-menu" role="menu">
								  <li role="presentation" class="dropdown-header">English</li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-eye"></i>
									  <span>Prévisualiser</span>
									</a>
								  </li>
								  <li>
									<a href="#"> 
										<i class="fa fa-download"></i> 
										<span>Télécharger</span>
									</a>
								  </li>
								  <li role="presentation" class="divider"></li>
								  <li role="presentation" class="dropdown-header">English</li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-eye"></i>
									  <span>Prévisualiser</span>
									</a>
								  </li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-download"></i> 
									  <span>Télécharger</span>
									</a>
								  </li>
								</ul>
								</div>
							</div>
					  </div>
					  <div class="item">
							<img src="{{path}}/im/MLT1040_001_d1.jpg" class="img-product img-responsive">
							<h3>MLT-X 1040</h3>
							<img src="{{path}}/im/abaque.png" alt="" class="abacus">
							<ul>
								<li><i class="fa fa-check"></i></li>
								<li>-</li>
								<li>137 cv (kW)</li>
								<li>4000 kg - ???? lb</li>
								<li>9.6 m - ???? ft</li>
								<li>6.5 m - ???? ft</li>
								<li>5.17x2.39x2.42 m - ???????? ft</li>
								<li>180 l/min</li>
								<li>8740 kg - ???? lb</li>
								<li>40 km/h - ?? mph</li>
							</ul>
							<div class="elipse-shadows">
								<img src="{{path}}/im/elipse-shadows.png" alt="">
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-abacus-item7">
									<i class="fa fa-eye"></i>
									<span>Voir l'abaque de charge</span>
								</button>
								<div class="dropdown">
								<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
									<i class="fa fa-caret-down pull-right"></i>
               						<i class="fa fa-download"></i>
									<span>Bochures</span>
								</button>
								<ul class="dropdown-menu" role="menu">
								  <li role="presentation" class="dropdown-header">English</li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-eye"></i>
									  <span>Prévisualiser</span>
									</a>
								  </li>
								  <li>
									<a href="#"> 
										<i class="fa fa-download"></i> 
										<span>Télécharger</span>
									</a>
								  </li>
								  <li role="presentation" class="divider"></li>
								  <li role="presentation" class="dropdown-header">English</li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-eye"></i>
									  <span>Prévisualiser</span>
									</a>
								  </li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-download"></i> 
									  <span>Télécharger</span>
									</a>
								  </li>
								</ul>
								</div>
							</div>
					  </div>
					  <div class="item">
							<img src="{{path}}/im/MLT845_120LSU_003_d1.jpg" class="img-product img-responsive">
							<h3>MLT-X 845</h3>
							<img src="{{path}}/im/abaque.png" alt="" class="abacus">
							<ul>
								<li><i class="fa fa-check"></i>/-</li>
								<li>-/<i class="fa fa-check"></i></li>
								<li>121 cv (kW)</li>
								<li>4500 kg - ???? lb</li>
								<li>7.55 m - ???? ft</li>
								<li>4.57 m - ???? ft</li>
								<li>5.22x2.42x2.58 m - ???????? ft</li>
								<li>150 l/min</li>
								<li>8816/8870 kg - ???? lb</li>
								<li>33/28 km/h - ?? mph</li>
							</ul>
							<div class="elipse-shadows">
								<img src="{{path}}/im/elipse-shadows.png" alt="">
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-abacus-item8">
									<i class="fa fa-eye"></i>
									<span>Voir l'abaque de charge</span>
								</button>
								<div class="dropdown">
								<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
									<i class="fa fa-caret-down pull-right"></i>
               						<i class="fa fa-download"></i>
									<span>Bochures</span>
								</button>
								<ul class="dropdown-menu" role="menu">
								  <li role="presentation" class="dropdown-header">English</li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-eye"></i>
									  <span>Prévisualiser</span>
									</a>
								  </li>
								  <li>
									<a href="#"> 
										<i class="fa fa-download"></i> 
										<span>Télécharger</span>
									</a>
								  </li>
								  <li role="presentation" class="divider"></li>
								  <li role="presentation" class="dropdown-header">English</li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-eye"></i>
									  <span>Prévisualiser</span>
									</a>
								  </li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-download"></i> 
									  <span>Télécharger</span>
									</a>
								  </li>
								</ul>
								</div>
							</div>
					  </div>
					  <div class="item">
							<img src="{{path}}/im/MLT960_001_d1.jpg" class="img-product img-responsive">
							<h3>MLT-X 960</h3>
							<img src="{{path}}/im/abaque.png" alt="" class="abacus">
							<ul>
								<li>-</li>
								<li><i class="fa fa-check"></i></li>
								<li>137 cv (kW)</li>
								<li>6000 kg - ???? lb</li>
								<li>9 m - ???? ft</li>
								<li>5.30 m - ???? ft</li>
								<li>6.10x2.48x2.53 m - ???????? ft</li>
								<li>180 l/min</li>
								<li>11700 kg - ???? lb</li>
								<li>40 km/h - ?? mph</li>
							</ul>
							<div class="elipse-shadows">
								<img src="{{path}}/im/elipse-shadows.png" alt="">
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default">
									<i class="fa fa-eye"></i>
									<span>Voir l'abaque de charge</span>
								</button>
								<div class="dropdown">
								<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
									<i class="fa fa-caret-down pull-right"></i>
               						<i class="fa fa-download"></i>
									<span>Bochures</span>
								</button>
								<ul class="dropdown-menu" role="menu">
								  <li role="presentation" class="dropdown-header">English</li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-eye"></i>
									  <span>Prévisualiser</span>
									</a>
								  </li>
								  <li>
									<a href="#"> 
										<i class="fa fa-download"></i> 
										<span>Télécharger</span>
									</a>
								  </li>
								  <li role="presentation" class="divider"></li>
								  <li role="presentation" class="dropdown-header">English</li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-eye"></i>
									  <span>Prévisualiser</span>
									</a>
								  </li>
								  <li>
									<a href="#"> 
									  <i class="fa fa-download"></i> 
									  <span>Télécharger</span>
									</a>
								  </li>
								</ul>
								</div>
							</div>
					  </div>
					 <div class="item item-last slick-active"></div>
				  </div>
			  </div>
			</div>


			<div class="modal fade modal-assortment" id="modal-abacus-item1" tabindex="-1" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">MLT-X 625</h4>
						</div>
						<div class="modal-body">
							<img src="{{path}}/im/abaque.png" alt="" class="">
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade modal-assortment" id="modal-abacus-item2" tabindex="-1" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">MLT-X  627</h4>
						</div>
						<div class="modal-body">
							<img src="{{path}}/im/abaque.png" alt="" class="">
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade modal-assortment" id="modal-abacus-item3" tabindex="-1" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">MLT-X 735</h4>
						</div>
						<div class="modal-body">
							<img src="{{path}}/im/abaque.png" alt="" class="">
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade modal-assortment" id="modal-abacus-item4" tabindex="-1" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">MLT-X 741</h4>
						</div>
						<div class="modal-body">
							<img src="{{path}}/im/abaque.png" alt="" class="">
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade modal-assortment" id="modal-abacus-item5" tabindex="-1" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">MLT-X 840</h4>
						</div>
						<div class="modal-body">
							<img src="{{path}}/im/abaque.png" alt="" class="">
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade modal-assortment" id="modal-abacus-item6" tabindex="-1" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">MLT-X 1035</h4>
						</div>
						<div class="modal-body">
							<img src="{{path}}/im/abaque.png" alt="" class="">
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade modal-assortment" id="modal-abacus-item7" tabindex="-1" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">MLT-X 1040</h4>
						</div>
						<div class="modal-body">
							<img src="{{path}}/im/abaque.png" alt="" class="">
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade modal-assortment" id="modal-abacus-item8" tabindex="-1" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">MLT-X 845</h4>
						</div>
						<div class="modal-body">
							<img src="{{path}}/im/abaque.png" alt="" class="">
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade modal-assortment" id="modal-abacus-item9" tabindex="-1" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">MLT-X 960</h4>
						</div>
						<div class="modal-body">
							<img src="{{path}}/im/abaque.png" alt="" class="">
						</div>
					</div>
				</div>
			</div>
		
	</article>	
</section>
