<section id="uses" class="uses">
	<div id="carousel-uses" class="uses-container slide carousel" data-ride="carousel" data-interval="false" data-keyboard="true">
		<article class="carousel-inner" role="listbox">
				<div id="uses-1" class="item active">
					<div class="img-container img-shadow-bottom">
						<img src="/im/bckg4.jpg" alt="" class="background-cover">
					</div>
					<div class="content content-bottom-right">
			  			<h1>Soins aux animaux</h1>
			  			<p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, imperdiet orci ut nibh lacinia, id mattis enim tincidunt.</p>
		  			</div>
				</div>
				<div id="uses-2" class="item">
					<div class="img-container img-shadow-bottom">
						<img src="/im/12502905364_4bb38588f0_k.jpg" alt="" class="background-cover">	
					</div>
					<div class="content content-bottom-right">
			  			<h1>Travaux de récolte</h1>
			  			<p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, imperdiet orci ut nibh lacinia, id mattis enim tincidunt.</p>
		  			</div>
				</div>
				<div id="uses-3" class="item">
					<div class="img-container img-shadow-top">
						<img src="/im/bckg5.jpg" alt="" class="background-cover">
					</div>
					<div class="content content-top-right">
			  			<h1>Reprise de chargement de vrac</h1>
			  			<p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, imperdiet orci ut nibh lacinia, id mattis enim tincidunt.</p>
		  			</div>
				</div>
				<div id="uses-4" class="item">
					<div class="img-container img-shadow-top">
						<img src="/im/bckg3.jpg" alt="" class="background-cover">
					</div>
					<div class="content content-top-right">
			  			<h1>Exploitation bovine</h1>
			  			<p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, imperdiet orci ut nibh lacinia, id mattis enim tincidunt.</p>
		  			</div>
				</div>
				<div id="uses-5" class="item">
					<div class="img-container img-shadow-bottom">
						<img src="/im/8411618288_ed03f52092_o.jpg" alt="" class="background-cover">
					</div>
					<div class="content content-bottom-right">
			  			<h1>Exploitation céréalière</h1>
			  			<p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, imperdiet orci ut nibh lacinia, id mattis enim tincidunt.</p>
		  			</div>
				</div>
				<div id="uses-6" id="foo" class="item">
					<div class="img-container img-shadow-top">
						<img src="/im/8410535543_54ed68611a_k.jpg" alt="" class="background-cover">
					</div>
					<div class="content content-top-right">
			  			<h1>Autres applications...</h1>
			  			<p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, imperdiet orci ut nibh lacinia, id mattis enim tincidunt.</p>
		  			</div>
				</div>
		</article>
		<ul class="uses-navbar footer">
			<li data-target="#carousel-uses" data-slide-to="0" class="active"><span class="indicator-desktop">Soins aux animaux</span></li>
			<li data-target="#carousel-uses" data-slide-to="1"><span class="indicator-desktop">Travaux de récolte</span></li>
			<li data-target="#carousel-uses" data-slide-to="2"><span class="indicator-desktop">Reprise de chargement de vrac</span></li>
			<br>
			<li data-target="#carousel-uses" data-slide-to="3"><span class="indicator-desktop">Exploitation bovine</span></li>
			<li data-target="#carousel-uses" data-slide-to="4"><span class="indicator-desktop">Exploitation céréalière</span></li>
			<li data-target="#carousel-uses" data-slide-to="5"><span class="indicator-desktop">Autres applications...</span></li>
		</ul>  
	</div>
</section>
