<section id="accessory" class="accessory">
	<div id="carousel-accessory" class="accessory-container slide" data-ride="carousel" data-interval="false" data-keyboard="true">
		<article class="" role="listbox">
				<div id="accessory-1" class="block-img-sm block-img-left item active">
					<div class="img-container">
						<div class="img-filter"></div>
						<img src="{{path}}/im/accessoire3.jpg" alt="">
					</div>
					<div class="content-container">
						<div class="content-filter">
							<div class="content">
								<h2>CBG MS</h2>
								<p>Godet-grappin polyva- lent permettant la préhension et le maintien de matière agricole (fumier, ensilage, céréales, etc...).</p>
							</div>
						</div>
					</div>
				</div>
				<div id="accessory-2" class="block-img-sm block-img-left item">
					<div class="img-container">
						<div class="img-filter"></div>
						<img src="{{path}}/im/accessoire1.jpg" alt="">
					</div>
					<div class="content-container">
						<div class="content-filter">
							<div class="content">
								<h2>Balayeuse BRB</h2>
								<p>Balaie et ramasse en un seul passage avec brosse latérale pour plus d’efficacité.</p>
							</div>
						</div>
					</div>
				</div>
				<div id="accessory-3" class="block-img-sm block-img-right item">
					<div class="img-container">
						<div class="img-filter"></div>
						<img src="{{path}}/im/accessoire8.jpg" alt="">
					</div>
					<div class="content-container">
						<div class="content-filter">
							<div class="content">
								<h2>Godet à claire-voie BSB</h2>
								<p>Destiné aux betteraves et autres racines/ tubercules, laissant chuter la terre et autres impuretés.</p>
							</div>
						</div>
					</div>
				</div>
				<div id="accessory-4" class="block-img-sm block-img-right item">
					<div class="img-container">
						<div class="img-filter"></div>
						<img src="{{path}}/im/accessoire5.jpg" alt="">
					</div>
					<div class="content-container">
						<div class="content-filter">
							<div class="content">
								<h2>Pince à balles enrubannées PBE</h2>
								<p>Bras articulés, la pince s’adapte à la balle au lieu de l’endommager. jusqu’à 1000kg.</p>
							</div>
						</div>
					</div>
				</div>
				<div id="accessory-5" class="block-img-sm block-img-left item">
					<div class="img-container">
						<div class="img-filter"></div>
						<img src="{{path}}/im/accessoire7.jpg" alt="">
					</div>
					<div class="content-container">
						<div class="content-filter">
							<div class="content">
								<h2>Fourches à balles FB1900/1700</h2>
								<p>Simple et performant pour la manutention des balles rondes et carrées.</p>
							</div>
						</div>
					</div>
				</div>
				<div id="accessory-6" class="block-img-sm block-img-left item">
					<div class="img-container">
						<div class="img-filter"></div>
						<img src="{{path}}/im/accessoire4.jpg" alt="">
					</div>
					<div class="content-container">
						<div class="content-filter">
							<div class="content">
								<h2>Fourche à fumier FFGR</h2>
								<p>Fourche polyvalente pour le fumier, les balles etc... Ouverture du grappin réglable pour plus d’adaptation.</p>
							</div>
						</div>
					</div>
				</div>
				<div id="accessory-7" class="block-img-sm block-img-right item">
					<div class="img-container">
						<div class="img-filter"></div>
						<img src="{{path}}/im/accessoire6.jpg" alt="">
					</div>
					<div class="content-container">
						<div class="content-filter">
							<div class="content">
								<h2>Désileur-trancheur SHG</h2>
								<p>Permet une reprise de l’ensilage au tas. Laisse un front de coupe propre.</p>
							</div>
						</div>
					</div>
				</div>
				<div id="accessory-8" class="block-img-sm block-img-right item">
					<div class="img-container">
						<div class="img-filter"></div>
						<img src="{{path}}/im/accessoire2.jpg" alt="">
					</div>
					<div class="content-container">
						<div class="content-filter">
							<div class="content">
								<h2>Godet à céréales</h2>
								<p>Pour toute matière fluide de densité &lt; 1.</p>
							</div>
						</div>
					</div>
				</div>
		</article>
		<ul class="carousel-indicators-mobile">
			<li data-target="#carousel-accessory" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-accessory" data-slide-to="1"></li>
			<li data-target="#carousel-accessory" data-slide-to="2"></li>
			<li data-target="#carousel-accessory" data-slide-to="3"></li>
			<li data-target="#carousel-accessory" data-slide-to="4"></li>
			<li data-target="#carousel-accessory" data-slide-to="5"></li>
		</ul>  
	</div>
	<ul class="accessory-navbar footer">
		<li class="active btn-img-left" data-order="0">CBG MS</li>
		<li class="btn-img-left" data-order="1">Balayeuse BRB</li>
		<li class="btn-img-left" data-order="4">Fourches à balles FB1900/1700</li>
		<li class="btn-img-left" data-order="5">Fourche à fumier FFGR</li>
		<br>
		<li class="btn-img-right" data-order="2">Godet à claire-voie BSB</li>
		<li class="btn-img-right" data-order="3">Pince à balles enrubannées PBE</li>
		<li class="btn-img-right" data-order="6">Désileur-trancheur SHG</li>
		<li class="btn-img-right" data-order="7">Godet à céréales</li>
	</ul>
</section>
