<section id="immersion" class="immersion">
	<article>
		<div class="description_points">
			<div class="point point-1" data-toggle="tooltip" data-placement="bottom" title="Siège basse fréquences, plus “sensible” à l’absorption des vibrations.">1</div>
			<div class="point point-2" data-toggle="tooltip" data-placement="bottom" title="Siège basse fréquences, plus “sensible” à l’absorption des vibrations.">2</div>
			<div class="point point-3" data-toggle="tooltip" data-placement="bottom" title="Siège basse fréquences, plus “sensible” à l’absorption des vibrations.">3</div>
			<div class="point point-4" data-toggle="tooltip" data-placement="bottom" title="Siège basse fréquences, plus “sensible” à l’absorption des vibrations.">4</div>
			<div class="point point-5" data-toggle="tooltip" data-placement="bottom" title="Siège basse fréquences, plus “sensible” à l’absorption des vibrations.">5</div>
			<div class="point point-6" data-toggle="tooltip" data-placement="bottom" title="Siège basse fréquences, plus “sensible” à l’absorption des vibrations.">6</div>
			<div class="point point-7" data-toggle="tooltip" data-placement="bottom" title="Siège basse fréquences, plus “sensible” à l’absorption des vibrations.">7</div>
		</div>
		
		<div id="carousel-immersion-mobile" class="carousel slide" data-ride="carousel" data-interval="false">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			  <li data-target="#carousel-immersion-mobile" data-slide-to="0" class="active"></li>
			  <li data-target="#carousel-immersion-mobile" data-slide-to="1"></li>
			  <li data-target="#carousel-immersion-mobile" data-slide-to="2"></li>
			  <li data-target="#carousel-immersion-mobile" data-slide-to="3"></li>
			  <li data-target="#carousel-immersion-mobile" data-slide-to="4"></li>
			  <li data-target="#carousel-immersion-mobile" data-slide-to="5"></li>
			  <li data-target="#carousel-immersion-mobile" data-slide-to="6"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<div class="point point-1">1</div>
					<div class="tooltip bottom tooltip-1" role="tooltip">
						<div class="tooltip-arrow"></div>
						<div class="tooltip-inner">Siège basse fréquences, plus “sensible” à l’absorption des vibrations.</div>
					</div>
					<img src="{{path}}/im/immersion.png" alt="...">
				</div>
				<div class="item">
					<div class="point point-2">2</div>
					<div class="tooltip bottom tooltip-2" role="tooltip">
						<div class="tooltip-arrow"></div>
						<div class="tooltip-inner">Siège basse fréquences, plus “sensible” à l’absorption des vibrations.</div>
					</div>
					<img src="{{path}}/im/immersion.png" alt="...">
				</div>
				<div class="item">
					<div class="point point-3">3</div>
					<div class="tooltip bottom tooltip-3" role="tooltip">
						<div class="tooltip-arrow"></div>
						<div class="tooltip-inner">Siège basse fréquences, plus “sensible” à l’absorption des vibrations.</div>
					</div>
					<img src="{{path}}/im/immersion.png" alt="...">
				</div>
				<div class="item">
					<div class="point point-4">4</div>
					<div class="tooltip bottom tooltip-4" role="tooltip">
						<div class="tooltip-arrow"></div>
						<div class="tooltip-inner">Siège basse fréquences, plus “sensible” à l’absorption des vibrations.</div>
					</div>
					<img src="{{path}}/im/immersion.png" alt="...">
				</div>
				<div class="item">
					<div class="point point-5">5</div>
					<div class="tooltip bottom tooltip-5" role="tooltip">
						<div class="tooltip-arrow"></div>
						<div class="tooltip-inner">Siège basse fréquences, plus “sensible” à l’absorption des vibrations.</div>
					</div>
					<img src="{{path}}/im/immersion.png" alt="...">
				</div>
				<div class="item">
					<div class="point point-6">6</div>
					<div class="tooltip bottom tooltip-6" role="tooltip">
						<div class="tooltip-arrow"></div>
						<div class="tooltip-inner">Siège basse fréquences, plus “sensible” à l’absorption des vibrations.</div>
					</div>
					<img src="{{path}}/im/immersion.png" alt="...">
				</div>
				<div class="item">
					<div class="point point-7">7</div>
					<div class="tooltip bottom tooltip-7" role="tooltip">
						<div class="tooltip-arrow"></div>
						<div class="tooltip-inner">Siège basse fréquences, plus “sensible” à l’absorption des vibrations.</div>
					</div>
					<img src="{{path}}/im/immersion.png" alt="...">
				</div>
			</div>

		</div>
	</article>

	<img src="{{path}}/im/bckg2.jpg" alt="" class="background-immersion">
	
</section>

<section id="immersion-360" class="immersion-360">
	<article>
		  <div class="content content-bottom-right">
			  <h1>Visibilité 360°</h1>
			  <p class="intro">Découvrez la visibilité parfaite offerte par la cabine panoramique.</p>
			  <a href="http://360.manitou.com/" target="_blank" class="btn btn-primary">
                  <i class="fa fa-refresh"></i>
                  <span>Découvrir la vue panoramique</span>
              </a>
		  </div>
	</article>
	<img src="{{path}}/im/cabine.png" alt="" class="background-cover">
</section>
