<section id="presentation" class="presentation">
	<article>
		  <div class="content content-top-right">
			  <h1>Gamme MLT-X</h1>
			  <h2>Chariots téléscopique Manitou</h2>
			  <p class="intro">Un chariot télescopique est un chariot élévateur équipé d’une flèche télescopique ayant à son extrémité des fourches ou un accessoire permettant la manutention de charges.</p>
		  </div>
	</article>
	<video autoplay loop class="background-cover">
			<source src="/im/video-manitou-test.mov" />
	</video>
	<img src="/im/img-presentation.png" alt="" class=" video-fallback background-cover">
</section>
