<section id="concept" class="concept">
	<div id="carousel-concept" class="concept-container slide" data-ride="carousel" data-interval="false" data-keyboard="true">
		<article class="" role="listbox">
				<div id="concept-1" class="block-img-sm block-img-left item active">
					<div class="img-container">
						<div class="img-filter"></div>
						<img src="{{path}}/im/tractor1.jpg" alt="">
					</div>
					<div class="content-container">
						<div class="content-filter">
							<div class="content">
								<h2>Sa sécurité</h2>
								<p>MANITOU vous assure la tranquilité en travaillant en toute sécurité. Vous bénéficiez d’une cabine panoramique offrant une visibilité parfaite à 360°, d’un système d’indication de charge avec alarme sonore et visuelle et d’un verrouillage du tablier pour sécuriser vos manuten- tions délicates.</p>
							</div>
						</div>
					</div>
				</div>
				<div id="concept-2" class="block-img-sm block-img-left item">
					<div class="img-container">
						<div class="img-filter"></div>
						<img src="{{path}}/im/joystick.jpg" alt="">
					</div>
					<div class="content-container">
						<div class="content-filter">
							<div class="content">
								<h2>Sa maniabilité</h2>
								<p>La gamme agricole MANITOU propose différentes largeurs et hauteurs avec toujours un rayon de braquage optimal et une manoeuvrabilité à toutes épreuves grâce aux roues directrices et aux modes «crabe» et «manicrabe».</p>
							</div>
						</div>
					</div>
				</div>
				<div id="concept-3" class="block-img-lg block-img-right item">
					<div class="img-container">
						<div class="img-filter"></div>
						<img src="{{path}}/im/outdoor-tractor.jpg" alt="">
					</div>
					<div class="content-container">
						<div class="content-filter">
							<div class="content">
								<h2>Sa polyvalence</h2>
								<p>Les nombreux accessoires disponibles décuplent les fonctionnalités de votre machine. MANITOU propose des accessoires durables et 100% adaptés à la gamme MLT-X afin d’en augmenter la polyvalence et d’offrir des débits de chantier optimisés.</p>
							</div>
						</div>
					</div>
				</div>
				<div id="concept-4" class="block-img-lg block-img-left item">
					<div class="img-container">
						<div class="img-filter"></div>
						<img src="{{path}}/im/tractor2.jpg" alt="">
					</div>
					<div class="content-container">
						<div class="content-filter">
							<div class="content">
								<h2>Sa capacité</h2>
								<p>Des capacités de levage exceptionnelles, des hauteurs de levée et un déport maximum différents selon vos besoins.</p>
							</div>
						</div>
					</div>
				</div>
				<div id="concept-5" class="block-img-sm block-img-right item">
					<div class="img-container">
						<div class="img-filter"></div>
						<img src="{{path}}/im/cockpit.jpg" alt="">
					</div>
					<div class="content-container">
						<div class="content-filter">
							<div class="content">
								<h2>Son confort</h2>
								<p>MANITOU vous offre un standard de confort élevé ! Découvrez nos larges cabines facilement accessibles et parfaitement insonorisées, un pare-soleil, un rideau de toit offrant une bonne visibilité quelques soient les conditions...</p>
							</div>
						</div>
					</div>
				</div>
				<div id="concept-6" id="foo" class="block-img-sm block-img-right item">
					<div class="img-container">
						<div class="img-filter"></div>
						<img src="{{path}}/im/tractor3.jpg" alt="">
					</div>
					<div class="content-container">
						<div class="content-filter">
							<div class="content">
								<h2>Sa simplicité</h2>
								<p>Pilotage de toutes les fonctions hydrauliques par joystick (JSM), connexion facile des accessoires avec le système ECS, MANITOU met tout en oeuvre pour faciliter votre journée de travail !</p>
							</div>
						</div>
					</div>
				</div>
		</article>
		<ul class="carousel-indicators-mobile">
			<li data-target="#carousel-concept" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-concept" data-slide-to="1"></li>
			<li data-target="#carousel-concept" data-slide-to="2"></li>
			<li data-target="#carousel-concept" data-slide-to="3"></li>
			<li data-target="#carousel-concept" data-slide-to="4"></li>
			<li data-target="#carousel-concept" data-slide-to="5"></li>
		</ul>  
	</div>
	<ul class="concept-navbar footer">
		<li class="active btn-img-left" data-order="0">Sa sécurité</li>
		<li class="btn-img-left" data-order="1">Sa maniabilité</li>
		<li class="btn-img-left" data-order="3">Sa capacité</li>
		<li class="btn-img-right" data-order="2">Sa polyvalence</li>
		<li class="btn-img-right" data-order="4">Son confort</li>
		<li class="btn-img-right" data-order="5">Sa simplicité</li>
	</ul>
</section>
